body {
	margin : 0;
	padding : 0;
	font-family : "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	outline: none;
}

textarea {
    -webkit-user-select: auto !important;
}

html, body {
	margin : 0;
	padding : 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}


div,ul,li,p {
	margin : 0;
	padding : 0;
	background: rgba(0,0,0,0);
}

input {
	-webkit-user-select: auto;
}



/* 这是默认的page容器 */
#bodyInner {
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* 这是默认的全屏页面  */
.page {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-webkit-box-shadow:0px 0px 10px #333333;

	-webkit-transform: translate3d(0px, 0px, 0px);
	/* -webkit-backface-visibility:hidden; */
}
